alertmanager:
  config:
    global:
      resolve_timeout: 5m
    route:
      group_by: ['alertname']
      group_wait: 10s
      group_interval: 10s
      repeat_interval: 1h
      receiver: 'discord-notifications'
    receivers:
      - name: 'discord-notifications'
        discord_configs:
          - webhook_url: 'https://discord.com/api/webhooks/1470380269654769697/WENQ7CYUNKweOJP-RiOVhGSbMxviy5yL17mVmhhJkS6FXshiLVIuCZvQHDs4kbn6gfe8'